@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap");

$mainBg: rgba(240, 242, 245, 1.0);

body {
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
}

@media (max-width: 410px) {
    body {
        background: $mainBg;
        background: red;
    }
}

@media (max-width: 750px) {
}

@media (min-width: 751px) {
}

@media (min-width: 1500px) {
}
